/* = Vars
----------------------------------------------------------------------------- */

$font-sansserif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: Georgia, Times, serif;

$color_main_background: #e2eaec;
$color_main_color: #5393df;

$color_notice: #ffab00;
$color_greyish: #7f7d7c;
$color_blueish: #0078e7;
$color_turquoise: #009688;

$border_radius: 6px;
