/*
        Yonta-Fork
*/

/* = Imports
----------------------------------------------------------------------------- */

@import 'webfonts';
@import 'vars';

/* = Reset
----------------------------------------------------------------------------- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

html {
    font-size: 12pt;
}

body {
    background-color: $color_main_background;
    color: #333;
    font-size: 1rem;
    font-family: $font-sansserif;
    text-rendering: optimizeLegibility;

    .fixed {
        overflow: hidden;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-serif;
}

blockquote {
    border-left: 4px solid #ddd;
    color: #888;
    line-height: 1.4em;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 25px;

    & + p {
        color: #555;
        font-style: italic;
    }
}

q {
    color: purple;
    font-family: $font-serif;
    font-style: italic;
}

figcaption {
    color: #777;
    font-size: 0.8em;
}

.hide {
    display: none
}


/* = Containers
----------------------------------------------------------------------------- */

body > header,
body > .page,
#miniflux {
    margin: 0 auto;
    max-width: 960px;
}

body > .page  {
    margin-bottom: 20px;
}

 /* = Form
----------------------------------------------------------------------------- */
form {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;

    h3 {
        font-weight: bold;
        font-size: 1.4rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

label {
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

form label[for] {
    font-weight: bold;
}

form > input {
    margin-bottom: 20px;
}

input[type="checkbox"] {
    border: 1px solid #ccc;
    margin-right: 0.5em;
}

input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: $border_radius;
    box-shadow: inset 0 1px 3px #ddd;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 10px;
    padding: 5px 7px;
}

input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus {
    border-color: $color_main_color;
    box-shadow: 0 0 8px $color_main_color;
    color: #333;
    outline: 0;
}

input[type="number"] {
    width: 3em;
}

select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: $border_radius;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 15px;
    padding: 5px;
    vertical-align: middle;
}

textarea {
    border: 1px solid #ccc;
    font-size: 99%;
    height: 200px;
    padding: 3px;
    width: 400px;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
    color: #bbb;
    padding-top: 2px;
}

.form-actions {
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-actions a {
    color: $color_main_color;
    margin: 0 10px;

    &.btn {
        color: #fff;
    }
}

.form-actions a:hover {
    text-decoration: inherit;
}

input.form-error,
textarea.form-error {
    border: 2px solid $color_notice;
}

.form-errors {
    color: $color_notice;
    list-style-type: none;
    margin-left: 15px;
}

.form-help {
    color: $color_notice;
    font-size: 0.9em;
    margin-bottom: 15px;
}

#search-opener,
#search-form {
    float: right;
}

.search::after {
    content: none;
    clear: both;
    display: block;
}

.btn {
    border: 1px solid transparent;
    border-radius: $border_radius;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
    margin: 0 10px;
    padding: 10px;
}

.btn-blue {
    background-color: $color_blueish;
    color: #fff;
}

.btn-red {
    background-color: $color_main_color;
    color: #fff;
    text-decoration: none;
}

.btn:focus,
.btn:hover,
[data-item-page="config"]  a[href="?action=new-user"]:focus,
[data-item-page="config"]  a[href="?action=new-user"]:hover {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

code,
pre {
    background-color: #333;
    padding: 15px;
    font-family: monospace;
    display: block;
    overflow: hidden;
    margin: 10px;
    color: #fff;
}

form #grouplist {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;

    label {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 1.5rem;

        input:checked + span {
            color: $color_main_color;
        }
    }
}

 /* = Menu
----------------------------------------------------------------------------- */
#miniflux > header,
body > header {
    margin: 20px auto;
}

header nav .logo {
    display: none;
}

header nav ul {
    display: flex;
    justify-content: flex-end;

    li {
        list-style-type: none;
        margin-left: 5px;
    }
}

header nav a,
header nav .menu-more-switcher {
    background-color: $color_main_color;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px;
    text-decoration: none;
}

header nav li.active a,
header nav a:hover,
header nav .menu-more-switcher:hover {
    background-color: $color_greyish;
}

header nav a span {
    margin-left: 5px;
    font-weight: bold;
}

/* Mark all as read */
#bottom-menu {
    display: none;
}

#menu-more {
    position: absolute;
    top: 55px;
    right: 5px;
    left: 5px;
    background-color: $color_main_color;

    li {
        margin-bottom: 1px;
    }

    a {
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
        display: block;

        &:hover,
        &:active {
            background-color: $color_greyish;
        }
    }
}

#items-paging {
    display: flex;
    justify-content: flex-end;
    margin: 20px auto;

    a {
        background-color: $color_main_color;
        color: #fff;
        font-size: 0.8rem;
        list-style-type: none;
        margin-left: 5px;
        padding: 5px;
        text-decoration: none;

        &:hover {
            background-color: $color_greyish;
        }
    }
}

 /* = Page
----------------------------------------------------------------------------- */
.page-section > h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 20px;
}

.page-header > h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 20px;

    span {
        font-weight: bold;
        margin-left: 10px;
    }
}

#grouplist {
    list-style-type: none;
    margin-bottom: 20px;

    li {
        display: inline;
        margin-right: 0.3em;
        line-height: 1.7;

        &.active a {
            color: $color_main_color;
            text-decoration: underline;
        }

        a {
            color: $color_greyish;
            font-size: 1rem;
            font-style: italic;
            text-decoration: none;

            &:hover {
                color: $color_main_color;
                text-decoration: underline;
            }
        }
    }
}

.page-header > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 20px auto;

    li {
        margin-right: 10px;
    }

    a {
        color: $color_main_color;
        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


/* = Prefences
----------------------------------------------------------------------------- */

[data-item-page="config"] nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 20px auto;

    li {
        margin-right: 10px;
    }
    a {
        color: $color_main_color;
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;
    }
}

[data-item-page="config"] nav a:hover,
[data-item-page="config"] nav .active a {
    text-decoration: underline;
}

 /* = Articles
----------------------------------------------------------------------------- */
#listing article,
[data-item-page="feeds"] article,
[data-item-page="feeds"] form,
[data-item-page="config"] section {
    background-color: #fff;
    border-radius: $border_radius;
    margin-bottom: 10px;
    padding: 5px 10px;
}

#listing article .item-icons {
    display: inline-block;
    float: right;
    margin-left: 0.2em;

    a {
        text-decoration: none;
    }
}

#listing article .item-icons::after {
    clear: both;
}

#listing article .bookmark-icon,
#listing article .read-icon {
    color: $color_main_color;
    font-family: 'icomoon';
    font-size: 26px;
}

#listing article[data-item-bookmark="0"] .bookmark-icon::before {
    color: rgba($color_main_color, 0.5);
    content: $icon-heart-outlined;
}

#listing article[data-item-bookmark="0"] .bookmark-icon:hover::before {
    color: $color_main_color;
    content: $icon-heart;
}

#listing article[data-item-bookmark="1"] .bookmark-icon::before {
    content: $icon-heart;
}

#listing article[data-item-status="unread"] .read-icon::before {
    color: rgba($color_main_color, 0.5);
    content: $icon-check;
}

#listing article[data-item-status="unread"] .read-icon:hover::before {
    color: $color_main_color;
    content: $icon-check;
}

#listing article[data-item-status="read"] .read-icon::before {
    content: $icon-check;
}

#listing article .item-title {
    display: flex;
}

#listing article .favicon {
    margin-right: 10px;
    max-height: 24px;
    width: 24px;
}

#listing article .item-title a {
    color: #333;
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
}

#listing article[data-item-status="read"] .item-title a {
    color: #999;
}

#listing article .item-menu,
[data-item-page="feeds"] article ul{
    display: flex;
    list-style-type: none;
}

#listing article .item-menu li,
[data-item-page="feeds"] article li {
    margin-right: 5px;
}

#listing article .item-menu li ~ li::before,
[data-item-page="feeds"] article li ~ li::before  {
    content: ' ◦ ';
}

#listing article .item-menu li:nth-child(2) {
    display: none;
}

#listing article .item-menu li,
#listing article .item-menu a,
#listing article .item-menu span {
    color: $color_greyish;
    font-size: 0.9rem;
    text-decoration: none;
}

#listing article .item-menu span {
    text-transform: lowercase;
}

#listing article .item-menu a:hover {
    color: $color_main_color;
    text-decoration: underline;
}

#listing article .item-menu [data-action="bookmark"] {
    display: none
}

 /* = Single
----------------------------------------------------------------------------- */
#current-item,
.panel {
    background-color: #fff;
    border-radius: $border_radius;
    padding: 10px;
}

#current-item h1 {
    font-size: 1.6rem;
    line-height: 1.3;
    margin: 0 0 15px;
}

#current-item h1 a {
    color: #484948;
    text-decoration: none
}

#current-item nav.top {
    display: none;
}

#current-item .item-infos {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    list-style-type: none;
}

#current-item .item-infos li ~ li::before {
    content: '\00a0- ';
}

#current-item .item-infos a,
#current-item .item-infos li {
    color: $color_greyish;
    text-decoration: none;
}

#current-item .item-infos a:hover {
    color: $color_main_color;
    text-decoration: underline;
}

#current-item .bookmark-icon {
    font-family: 'icomoon';
    font-size: 1.3rem;
}

#current-item .item-infos a.bookmark-icon:hover {
    text-decoration: none;
}

#current-item[data-item-bookmark="0"] .bookmark-icon::after {
    content: $icon-heart-outlined;
}

#current-item[data-item-bookmark="1"] .bookmark-icon::after {
    content: $icon-heart;
}

#current-item .bottom {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

#current-item .bottom span {
    margin-left: 15px;
}

#current-item .bottom a {
    color: $color_main_color;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

#current-item .bottom a:hover {
    text-decoration: underline;
}

#current-item #item-content {
    font-size: 1rem;
    line-height: 28px;
    margin: 20px auto;
    overflow: hidden;
}

#current-item #item-content img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
}

#current-item #item-content p {
    margin-bottom: 0.65em;
}

#current-item #item-content h1,
#current-item #item-content h2,
#current-item #item-content h3,
#current-item #item-content h4,
#current-item #item-content h5,
#current-item #item-content h6 {
    margin-bottom: 10px;
    margin-top: 15px;
}

#current-item #item-content h1 {
    font-size: 1.55rem;
}

#current-item #item-content h2 {
    font-size: 1.45rem;
}

#current-item #item-content h3 {
    font-size: 1.35rem;
}

#current-item #item-content h4 {
    font-size: 1.3rem;
}

#current-item #item-content h5 {
    font-size: 1.25rem;
}

#current-item #item-content h6 {
    font-size: 1.2rem;
}

#current-item #item-content ul,
#current-item #item-content ol,
.page-section + section ul  {
    list-style-type: square;
    margin: 10px 30px;
}

#current-item #item-content a {
    color: darken($color_main_color, 20%);
    text-decoration: none;
}

#current-item #item-content a:hover,
#current-item #item-content a:focus {
    color: darken($color_main_color, 30%);
    text-decoration: underline;
}

#current-item figure {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    overflow: hidden;
}

#current-item #item-content  figure img {
    margin-bottom: 5px;
}

#current-item figure figcaption {
    margin-bottom: 15px;
}

 /* = Config
----------------------------------------------------------------------------- */
[data-item-page="config"] table {
    border-collapse: collapse;
    font-size: 1.2rem;
    width: 100%;
}

[data-item-page="config"] table th {
    background-color: $color_greyish;
    color: #fff;
    padding: 10px 0;
}

[data-item-page="config"] table td {
    padding: 10px 0;
    text-align: center;
}

[data-item-page="config"] a {
    color: darken($color_main_color, 20%);
}

[data-item-page="config"] a:hover {
    color: $color_main_color;
    text-decoration: underline;
}

[data-item-page="config"] .options {
    margin: 15px auto;
}

[data-item-page="config"]  label {
    margin-bottom: 10px;
}

[data-item-page="config"]  a[href="?action=new-user"] {
    background-color: $color_main_color;
    color: #fff;
    display: block;
    margin: 20px auto;
    max-width: 170px;
    padding: 10px;
    text-align: center
}

/* = Subscriptions > Feeds
----------------------------------------------------------------------------- */

[data-item-page="feeds"] nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 20px auto;

    li {
        margin-right: 10px;
    }
    a {
        color: $color_main_color;
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;
    }
}

[data-item-page="feeds"] nav a:hover,
[data-item-page="feeds"] nav .active a {
    text-decoration: underline;
}

.items article[data-feed-disabled] {
    background-color: #E0E0E0;
}

.items article h2 {
    font-size: 1.2rem;
    font-weight: normal;

    .favicon {
        max-height: 24px;
        vertical-align: middle;
    }

    a {
        color: #333;
        font-size: 1.2rem;
    }
}

.items article h2.loading-icon a {
    color: $color_notice;
}

.items article .items-count {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 0.2em;

    &::before {
        content: '(';
    }
    &::after {
        content: ')';
    }
}

.items article .feed-last-checked {
    color: $color_greyish;
    display: block;
    font-size: 1rem;
    margin-top: 10px;
}

.items article .feed-parsing-error {
    color: $color_notice;
    display: none;
    font-size: 1rem;
    margin-top: 10px;
}

.items article[data-feed-error="1"] .feed-parsing-error {
    display: block;
}

.items article .feed-groups {
    margin-top: 10px;
}

.items article .item-menu {
    margin-top: 10px;

    a {
        color: $color_main_color;

        &:hover {
            text-decoration: underline;
            color: #333;
        }
    }
}

.feed-groups li a {
    color: $color_greyish;
    font-size: 1rem;
    font-style: italic;
    text-decoration: none;
}

.feed-groups li a:hover,
.feed-groups li.active a {
    color: $color_main_color;
    text-decoration: underline;
}

/* = Alert
----------------------------------------------------------------------------- */
.alert {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: $border_radius;
    font-size: 1rem;
    margin: 15px 0;
    padding: 10px;
}

.alert-success {
    background-color: $color_turquoise;
    border-color: darken($color_turquoise, 5%);
    color: #fff;
}

.alert-error {
    background-color: $color_notice;
    border-color: darken($color_notice, 5%);
    color: #333;
}

.alert-info {
    background-color: rgba(0,0,0,0.15);
    border-color: rgba(0,0,0,0.25);
    color: #333;
}

/* = Help
----------------------------------------------------------------------------- */
#help-layer {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    section {
        background-color: #fff;
        border-radius: $border_radius;
        margin: 10px auto;
        max-width: 960px;
        overflow: hidden;
        padding: 10px;
    }
    ul {
        margin: 20px;
    }
}

#help-layer .btn-close {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10%;
    top: 20px;
    text-align: center;
    width: 30px;
}

/* = Panel
----------------------------------------------------------------------------- */
section .panel {
    margin-bottom: 20px;

    ul {
        margin: 10px 20px;
    }
}

section .panel .panel-danger {
    background-color: $color_main_color;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline
    }
}

 /* = Media query
----------------------------------------------------------------------------- */

@media only screen and (min-width: 920px) {
    #help-layer section {
        margin-top: 50px;
    }

    #help-layer .btn-close {
        right: 24%;
    }
}
@media only screen and (min-width: 480px) {
    .hide-desktop {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .hide-mobile {
        display: none;
    }

    #miniflux,
    body > header,
    body > .page {
        margin: 0 5px;
    }

    body > header {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    header nav a,
    header nav .menu-more-switcher  {
        padding: 10px 5px;
    }

    #listing article .favicon {
        display: none;
    }

    #listing article .item-title a {
        font-size: 1.05rem;
        word-break: break-all;
        word-break: break-word; /* WebKit only */
        hyphens: auto;
    }

    #current-item .item-infos li {
        margin-right: 0.5em;
    }

    #current-item .item-infos li > a.bookmark-icon {
        margin-left: 0.1em;
        margin-right: 0.25em;
    }

    #current-item .item-infos li ~ li::before {
        content: none;
    }

    #current-item #item-content {
        line-height: 24px;
    }

    [data-item-page="config"] table th:nth-child(2),
    [data-item-page="config"] table th:nth-child(3),
    [data-item-page="config"] table td:nth-child(2),
    [data-item-page="config"] table td:nth-child(3) {
        display: none;
    }
}
